<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://angular-at.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>angular-at.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>angular-at</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$angular-at</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AngularAt.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat1;Persist Security Info=True;User ID=angularat1@pegrxv722b;Password=sePURa4u" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AngularAt.Models.ApplicationDbContext, AngularAt" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MicroCms" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat;Persist Security Info=True;User ID=angularat@pegrxv722b;Password=sePURa4u" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AngularAt.Models.MicroCmsContext, AngularAt" MigrationConfiguration="AngularAt.Migrations.Configuration, AngularAt" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat;Persist Security Info=True;User ID=angularat@pegrxv722b;Password=sePURa4u" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat;Persist Security Info=True;User ID=angularat@pegrxv722b;Password=sePURa4u" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AngularAt.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat1;Persist Security Info=True;User ID=angularat1@pegrxv722b;Password=sePURa4u</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MicroCms-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pegrxv722b.database.windows.net,1433;Initial Catalog=angularat;Persist Security Info=True;User ID=angularat@pegrxv722b;Password=sePURa4u</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AngularAt.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>